[submodule "MobileTA/Libraries/QuickDialog"]
	path = MobileTA/Libraries/QuickDialog
	url = git://github.com/escoz/QuickDialog.git
[submodule "MobileTA/Libraries/JTRevealSidebar"]
	path = MobileTA/Libraries/JTRevealSidebar
	url = git://github.com/mystcolor/JTRevealSidebarDemo.git
[submodule "MobileTA/Libraries/CHCSVParser"]
	path = MobileTA/Libraries/CHCSVParser
	url = git://github.com/davedelong/CHCSVParser.git
[submodule "MobileTA/Libraries/JSONStore"]
	path = MobileTA/Libraries/JSONStore
	url = git@github.com:SSheldon/JSONStore.git
